# Copyright The Mumble Developers. All rights reserved.
# Use of this source code is governed by a BSD-style license
# that can be found in the LICENSE file at the root of the
# Mumble source tree or at <https://www.mumble.info/LICENSE>.

image: Visual Studio 2022

clone_depth: 1
skip_branch_with_pr: true

environment:
  global:
    MUMBLE_BUILD_NUMBER_TOKEN:
      secure: scRizsdwbTWjY7M9RHPT9EXDBxtWvXTsyVq1xXTWF1A=
    MUMBLE_ENVIRONMENT_SOURCE: 'https://dl.mumble.info/build/vcpkg'
    MUMBLE_ENVIRONMENT_STORE: 'C:/MumbleBuild'
    MUMBLE_ENVIRONMENT_PATH: '%MUMBLE_ENVIRONMENT_STORE%/%MUMBLE_ENVIRONMENT_VERSION%'
    MUMBLE_ENVIRONMENT_TOOLCHAIN: '%MUMBLE_ENVIRONMENT_PATH%/scripts/buildsystems/vcpkg.cmake'
    MUMBLE_SOURCE_COMMIT: '%APPVEYOR_REPO_COMMIT%'
    MUMBLE_SOURCE_REPOSITORY: '%APPVEYOR_BUILD_FOLDER%'
    MUMBLE_BUILD_DIRECTORY: '%MUMBLE_SOURCE_REPOSITORY%/build'
    MUMBLE_USE_ELEVATION: 'ON'

  matrix:
    - MUMBLE_ENVIRONMENT_TRIPLET: 'x64-windows-static-md-release'
      MUMBLE_ENVIRONMENT_VERSION: 'mumble_env.x64-windows-static-md-release.2024-07-22.9ad0398d8'

install:
  - ps: .ci/install-environment_windows.ps1

before_build:
  - cmd: cd %APPVEYOR_BUILD_FOLDER% && git submodule update --init --recursive

build_script:
  - cmd: .ci/build_windows.bat

after_build:
  - cmd: cd "%MUMBLE_BUILD_DIRECTORY%" && 7z a binaries.zip *.exe *.dll *.pdb plugins/*.dll plugins/*.pdb installer/client/*client*.msi installer/server/*server*.msi

artifacts:
  - path: 'build/binaries.zip'
    name: 'Binaries'

deploy:
  - provider: Webhook
    url: https://app.signpath.io/API/v1/79916aba-7a9f-448d-91c6-fb83593b59d3/Integrations/AppVeyor?ProjectSlug=mumble&SigningPolicySlug=release-signing
    authorization:
      secure: WKbGSfFSHTtODf6eHRSHPAobctJli48O/VoMpCYTuIlITl2piOpCH6igCRDX4EuJTzgDX45H34tVfPuNzSMdLA==
