# Copyright 2021 The Mumble Developers. All rights reserved.
# Use of this source code is governed by a BSD-style license
# that can be found in the LICENSE file at the root of the
# Mumble source tree or at <https://www.mumble.info/LICENSE>.

image: Visual Studio 2019

clone_depth: 1
skip_branch_with_pr: true

environment:
  global:
    MUMBLE_BUILD_NUMBER_TOKEN:
      secure: PbzXN7ToXOY4tCdLi8S8qkQ6AsbUfxvQJUW8DLbbVj6jpf4n3h6owM0BeqLaR3e8lqkmlZHwNi0nwdWTwzFOj3ZRb/ozMC39Np6eaQ3g4dk=
    MUMBLE_ENVIRONMENT_SOURCE: 'https://dl.mumble.info/build/vcpkg'
    MUMBLE_ENVIRONMENT_STORE: 'C:/MumbleBuild'
    MUMBLE_ENVIRONMENT_PATH: '%MUMBLE_ENVIRONMENT_STORE%/%MUMBLE_ENVIRONMENT_VERSION%'
    MUMBLE_ENVIRONMENT_TOOLCHAIN: '%MUMBLE_ENVIRONMENT_PATH%/scripts/buildsystems/vcpkg.cmake'
    MUMBLE_SOURCE_COMMIT: '%APPVEYOR_REPO_COMMIT%'
    MUMBLE_SOURCE_REPOSITORY: '%APPVEYOR_BUILD_FOLDER%'
    MUMBLE_BUILD_DIRECTORY: '%MUMBLE_SOURCE_REPOSITORY%/build'

  matrix:
    - MUMBLE_ENVIRONMENT_TRIPLET: 'x64-windows-static-md'
      MUMBLE_ENVIRONMENT_VERSION: 'windows-static-1.5.x~2021-07-27~64f88807.x64'
      VCVARS_PATH: 'C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Auxiliary/Build/vcvars64.bat'
    - MUMBLE_ENVIRONMENT_TRIPLET: 'x86-windows-static-md'
      MUMBLE_ENVIRONMENT_VERSION: 'windows-static-1.5.x~2021-07-27~64f88807.x86'
      VCVARS_PATH: 'C:/Program Files (x86)/Microsoft Visual Studio/2019/Community/VC/Auxiliary/Build/vcvarsamd64_x86.bat'

install:
  - ps: .ci/install-environment_windows.ps1

before_build:
  - cmd: cd %APPVEYOR_BUILD_FOLDER% && git submodule update --init --recursive

build_script:
  - cmd: .ci/build_windows.bat

after_build:
  - cmd: cd "%MUMBLE_BUILD_DIRECTORY%" && 7z a binaries.zip *.exe *.dll *.pdb plugins/*.dll plugins/*.pdb installer/client/*client*.msi installer/server/*server*.msi

artifacts:
  - path: 'build/binaries.zip'
    name: 'Binaries'

deploy:
  - provider: Webhook
    url: https://app.signpath.io/API/v1/79916aba-7a9f-448d-91c6-fb83593b59d3/Integrations/AppVeyor?ProjectSlug=mumble&SigningPolicySlug=test-signing
    authorization:
      secure: WKbGSfFSHTtODf6eHRSHPAobctJli48O/VoMpCYTuIlITl2piOpCH6igCRDX4EuJTzgDX45H34tVfPuNzSMdLA==
