[submodule "speex"]
	path = speex
	url = git://git.xiph.org/speex.git/
[submodule "celt-0.7.0-src"]
	path = celt-0.7.0-src
	url = git://git.xiph.org/celt.git/
[submodule "celt-0.9.0-src"]
	path = celt-0.9.0-src
	url = git://git.xiph.org/celt.git/
