[submodule "speex"]
	path = speex
	url = git://git.xiph.org/speex.git/
[submodule "celt-0.7.0-src"]
	path = celt-0.7.0-src
	url = git://git.xiph.org/celt.git/
[submodule "celt-0.11.0-src"]
	path = celt-0.11.0-src
	url = git://git.xiph.org/celt.git/
[submodule "opus-src"]
	path = opus-src
	url = git://git.xiph.org/opus.git
[submodule "sbcelt-src"]
	path = sbcelt-src
	url = git://github.com/mumble-voip/sbcelt.git
[submodule "3rdparty/fx11-src"]
	path = 3rdparty/fx11-src
	url = git://github.com/mumble-voip/fx11.git
