Makefile
*.Debug
*.Release
debug/
release/
asio/
local/
indent.sh
.vs
.vscode
*.pdb
*.sdf
*.sln
*.suo
*.swp
*.aps
*.vcxproj
*.vcxproj.*
*~
*.pro.user
ui_*.h
*.qm
*.pb.*
installer/Mumble.exe
overlay/*.hex
overlay/*.ps.h
overlay/*.vs.h
overlay_winx64/*.hex
overlay_winx64/*.ps.h
overlay_winx64/*.vs.h
scripts/Murmur.ice
scripts/murmur.ini.*
src/murmur/murmur_ice/Murmur.h
src/murmur/murmur_ice/Murmur.cpp
src/murmur/MurmurRPC.proto.Wrapper.cpp
winpaths_custom.pri
qmake/winpaths_custom.pri
mocinclude.opt
src/mumble/mumble_qt_auto.qrc
*_plugin_import.cpp
target_wrapper.bat
target_wrapper.sh
doxygen/
.qmake.cache
.qmake.stash
.DS_Store
.directory
build/
compile_commands.json
.devcontainer/*
__pycache__/
CMakeSettings.json
