Makefile
Makefile.Debug
Makefile.Release
debug/
release/
asio/
local/
indent.sh
*.pdb
*.sln
*.sdf
*.suo
*.aps
*.vcxproj
*.vcxproj.*
*~
*.pb.h
*.pb.cc
*.pro.user
ui_*.h
*.qm
installer/Mumble.exe
overlay/*.hex
overlay_winx64/*.hex
scripts/Murmur.ice
scripts/murmur.ini.*
src/murmur/Murmur.h
src/murmur/Murmur.cpp
winpaths_custom.pri
src/mumble/mumble_plugin_import.cpp
src/mumble/mumble_app_plugin_import.cpp
src/murmur/murmurd_plugin_import.cpp
src/murmur/murmur_plugin_import.cpp
doxygen/
.qmake.cache
.qmake.stash
