[Unit]
Description=Mumble Daemon
After=network.target

[Service]
Type=exec
ExecStart=/usr/bin/murmurd -fg -ini /etc/murmur.ini
Restart=always
PrivateDevices=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
