<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>mumble-overlay</string>
	<key>CFBundleGetInfoString</key>
	<string>Mumble helper utility for launching games with the in-game overlay enabled.</string>
	<key>CFBundleIdentifier</key>
	<string>net.sourceforge.mumble.OverlayLauncher</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>LAUN</string>
	<key>CFBundleVersion</key>
	<string>1.2.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2009 Mikkel Krautz &lt;mikkel@krautz.dk&gt;</string>
</dict>
</plist>
