Source: mumble
Maintainer: Ubuntu Universe Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Thorvald Natvig <slicer@users.sourceforge.net>
Section: sound
Priority: optional
Homepage: http://mumble.sourceforge.net/
Vcs-Svn: https://mumble.svn.sourceforge.net/svnroot/mumble/
Vcs-Browser: http://mumble.svn.sourceforge.net/viewvc/mumble/
Build-Depends: debhelper (>= 5), libqt4-dev (>= 4.3.0), libboost-dev (>= 1.34.1), libasound2-dev (>= 1.0.14), libxevie-dev (>= 1.0.2), libpulse-dev (>= 0.9.6)
Standards-Version: 3.7.3

Package: mumble
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: festival (>= 1.4.3)
Description: Low latency VoIP client
 Mumble is a low-latency, high quality voice chat program for gaming.
 It features noise suppression, automatic gain control and low latency audio
 with support for multiple audio standards.
 Mumble includes an in-game overlay compatible with most open-source and
 commercial 3D applications.
 Mumble is just a client and uses a non-standard protocol. You will need
 a dedicated server to talk to other users. Server functionality is provided
 by the package "mumble-server".

Package: mumble-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, adduser (>= 3.103)
Description: Low latency VoIP server
 Murmur is the VoIP server component for Mumble.
 Murmur is installed in a system-wide fashion, but can also be run by
 individual users.
 Each murmur process supports multiple virtual servers, each with their
 own user base and channel list.
 Administration of murmur is done through D-Bus. Example scripts which
 register new users and list connected users through a web page are
 can be found in the package 'mumble-server-web'.

Package: mumble-server-web
Architecture: all
Depends: mumble-server (>= ${source:Version}), ${misc:Depends}, ${perl:Depends}, adduser (>= 3.103),  libnet-dbus-perl (>= 0.33.5), libcgi-perl (>= 2.76), libcgi-session-perl (>= 4.20), libnet-dns-perl (>= 0.60), libcompress-zlib-perl (>= 2.005), perlmagick, libconfig-simple-perl (>= 4.59), apache2 | httpd, postfix | mail-transport-agent
Description: Web scripts for mumble-server
 Murmur (in the package mumble-server) is the VoIP server component for
 Mumble. This package contains web scripts for registering users,
 uploading custom textures and showing a list of currently connected users.
