#! /bin/sh

set -e

. /usr/share/debconf/confmodule
db_version 2.0

db_set mumble-server/password ""

if [ -f /etc/default/mumble-server ]; then
	MURMUR_DAEMON_START=0
	. /etc/default/mumble-server
	if [ "X$MURMUR_DAEMON_START" = "X1" ]; then
		db_set mumble-server/start_daemon true
	else
		db_set mumble-server/start_daemon false
	fi
fi

if [ -f /etc/mumble-server.ini ]; then
	EMAILFROM=`perl -ne 'if (/^emailfrom\s*=\s*(.+)\s*$/) { print $1 ; }' /etc/mumble-server.ini`
	db_set mumble-server/emailfrom "$EMAILFROM"
fi

db_input medium mumble-server/start_daemon || true
db_input medium mumble-server/emailfrom || true
db_input medium mumble-server/password || true
db_go

#DEBHELPER#

exit 0
