#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
#
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Modified to make a template file for a multi-binary package with separated
# build-arch and build-indep targets  by Bill Allombert 2001

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	qmake-qt4 DEFINES+=MUMBLE_VERSION="1.1.1" main.pro

	touch configure-stamp


#Architecture 
build: build-stamp

build-stamp: configure-stamp 
	# Add here commands to compile the arch part of the package.
	$(MAKE) release
	touch build-stamp

clean:	configure-stamp
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	# Add here commands to clean up after the build process.
	$(MAKE) distclean

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k -s 
	dh_installdirs -s

	# Add here commands to install the arch part of the package into 
	# debian/tmp.
	# $(MAKE) install 
	install -d $(CURDIR)/debian/mumble/usr/bin
	install -d $(CURDIR)/debian/mumble/usr/lib/mumble
	install ./release/mumble $(CURDIR)/debian/mumble/usr/bin
	install ./scripts/mumble-overlay $(CURDIR)/debian/mumble/usr/bin
	install ./release/libmumble.so.1.1.1 $(CURDIR)/debian/mumble/usr/lib/

	# install menu entry
	install -d $(CURDIR)/debian/mumble/usr/share/applications
	install -d $(CURDIR)/debian/mumble/usr/share/pixmaps
	install -m 0644 ./scripts/mumble.desktop $(CURDIR)/debian/mumble/usr/share/applications
	install -m 0644 ./icons/mumble.png.1 $(CURDIR)/debian/mumble/usr/share/pixmaps/mumble.png
	install -m 0644 ./icons/mumble.xpm $(CURDIR)/debian/mumble/usr/share/pixmaps

	# install murmur
	install -d $(CURDIR)/debian/murmur/usr/sbin
	install -d $(CURDIR)/debian/murmur/usr/lib/cgi-bin/murmur
	install -d $(CURDIR)/debian/murmur/etc/dbus-1/system.d
	install -d $(CURDIR)/debian/murmur/var/lib/murmur
	install -d $(CURDIR)/debian/murmur/var/run/murmur
	install -d $(CURDIR)/debian/murmur/var/log/murmur
	install ./release/murmurd $(CURDIR)/debian/murmur/usr/sbin
	install -m 0644 ./scripts/murmur.conf $(CURDIR)/debian/murmur/etc/dbus-1/system.d
	install -m 0644 ./scripts/murmur.ini.system $(CURDIR)/debian/murmur/etc/murmur.ini
	install -m 0755 ./scripts/murmur.pl $(CURDIR)/debian/murmur/usr/lib/cgi-bin/murmur/register.cgi
	install -m 0755 ./scripts/weblist.pl $(CURDIR)/debian/murmur/usr/lib/cgi-bin/murmur/list.cgi

	# install init script to current, so dh_installinit finds it
	install -m 0755 ./scripts/murmur.init $(CURDIR)

	dh_install -s
# Must not depend on anything. This is to be called by
# binary-arch/binary-indep
# in another 'make' thread.
binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installinit
	dh_installman
	dh_link
	dh_strip
	dh_compress 
	dh_fixperms
	dh_perl $(CURDIR)/debian/murmur/usr/lib/cgi-bin/murmur
	dh_makeshlibs
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture dependant packages using the common target.
binary-indep:

binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary:	binary-indep binary-arch

.PHONY: build clean binary install configure
