#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_OPTIONS

configure: configure-stamp
configure-stamp:
	dh_testdir
	qmake-qt4 main.pro DEFINES+=NO_UPDATE_CHECK DEFINES+=DEFAULT_SOUNDSYSTEM=ALSA

	touch configure-stamp


#Architecture 
build: build-stamp

build-stamp: configure-stamp 
	$(MAKE) release
	touch build-stamp

clean:	configure-stamp
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	$(MAKE) distclean

	# Unfortunately, static libraries are left over after
	# qmake's makefile is done, as are the translations.
	rm -rf release debug src/mumble/*.qm

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs 
	dh_install 

	# Add debian files
	install -m 0755 ./scripts/murmur.init $(CURDIR)/debian/mumble-server.init
	install -m 0755 ./scripts/murmur.logrotate $(CURDIR)/debian/mumble-server.logrotate

	# install mumble files that need to be renamed
	install -m 0644 -D ./icons/mumble.16x16.png $(CURDIR)/debian/mumble/usr/share/icons/hicolor/apps/16x16/mumble.png
	install -m 0644 -D ./icons/mumble.32x32.png $(CURDIR)/debian/mumble/usr/share/icons/hicolor/apps/32x32/mumble.png
	install -m 0644 -D ./icons/mumble.48x48.png $(CURDIR)/debian/mumble/usr/share/icons/hicolor/apps/48x48/mumble.png
	install -m 0644 -D ./icons/mumble.64x64.png $(CURDIR)/debian/mumble/usr/share/icons/hicolor/apps/64x64/mumble.png

	# install rest of murmur files (rename & permissions)
	install -D -m 0644 ./scripts/murmur.conf $(CURDIR)/debian/mumble-server/etc/dbus-1/system.d/mumble-server.conf
	install -D -m 0644 ./scripts/murmur.ini.system $(CURDIR)/debian/mumble-server/etc/mumble-server.ini
	install -D -m 0755 ./scripts/murmur.pl $(CURDIR)/debian/mumble-server/usr/lib/cgi-bin/mumble-server/register.cgi
	install -D -m 0755 ./scripts/weblist.pl $(CURDIR)/debian/mumble-server/usr/lib/cgi-bin/mumble-server/list.cgi

binary-common:
	dh_testdir
	dh_testroot
	dh_installchangelogs CHANGES
	dh_installdocs
	dh_installmenu
	dh_installinit
	dh_installman
	dh_installlogrotate
	dh_installdebconf
	dh_gconf
	dh_icons
	dh_desktop
	dh_strip
	dh_compress 
	dh_fixperms
	dh_perl $(CURDIR)/debian/mumble-server/usr/lib/cgi-bin/mumble-server
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-indep:

binary-arch: build install
	$(MAKE) -f debian/rules DH_OPTIONS=-a binary-common

binary:	binary-indep binary-arch

.PHONY: build clean binary install configure
