[Desktop Entry]
Name=Mumble
GenericName=Voice Chat
Comment=A low-latency, high quality voice chat program for gaming
Exec=mumble
Icon=mumble
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;Chat;Qt;
Version=1.0
