[Unit]
Description=Mumble Daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/murmur/murmur.pid
ExecStart=/usr/bin/murmurd -ini /etc/murmur.ini
Restart=always

[Install]
WantedBy=multi-user.target
