#include <winver.h>

IDI_ICON1               ICON    DISCARDABLE     "..\\..\\icons\\murmur.ico"

#ifndef DEBUG
#define VER_DEBUG                   0L
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

#ifdef SNAPSHOT_BUILD
#define	VER_RELEASE	VS_FF_SPECIALBUILD|VS_FF_PRERELEASE
#else
#define VER_RELEASE 0L
#endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION		1,3,0,0
	PRODUCTVERSION	1,3,0,0
	FILEFLAGSMASK	VS_FFI_FILEFLAGSMASK
	FILEFLAGS		(VER_DEBUG|VER_RELEASE)
	FILEOS			VOS_NT_WINDOWS32
	FILETYPE		VFT_APP
	FILESUBTYPE		0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "040904E4"
			BEGIN
				VALUE "CompanyName", "Thorvald Natvig"
				VALUE "FileDescription", "Murmur - Low-latency VoIP server"
				VALUE "FileVersion", "1.3.0"
				VALUE "ProductVersion", "1.3.0"
				VALUE "LegalCopyright", "Copyright (C) 2005-2011, Thorvald Natvig <thorvald@natvig.com>"
				VALUE "OriginalFilename", "murmur.exe"
				VALUE "ProductName", "Mumble"
#ifdef SNAPSHOT_BUILD
				VALUE "SpecialBuild", "Snapshot development release"
#endif
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x409, 1252
		END
	END
