<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "Settings.wxi" ?>

  <!-- Plugins -->
  <Fragment>
    <DirectoryRef Id="PluginFolder">
      <Component Id="aoc.dll">
        <File Source="$(var.SourceDir)\release\plugins\aoc.dll" KeyPath="yes" />
      </Component>
      <Component Id="arma2.dll">
        <File Source="$(var.SourceDir)\release\plugins\arma2.dll" KeyPath="yes" />
      </Component>
      <Component Id="bf1942.dll">
        <File Source="$(var.SourceDir)\release\plugins\bf1942.dll" KeyPath="yes" />
      </Component>
      <Component Id="bf2.dll">
        <File Source="$(var.SourceDir)\release\plugins\bf2.dll" KeyPath="yes" />
      </Component>
      <Component Id="bf2142.dll">
        <File Source="$(var.SourceDir)\release\plugins\bf2142.dll" KeyPath="yes" />
      </Component>
      <Component Id="bf3.dll">
        <File Source="$(var.SourceDir)\release\plugins\bf3.dll" KeyPath="yes" />
      </Component>
      <Component Id="bfbc2.dll">
        <File Source="$(var.SourceDir)\release\plugins\bfbc2.dll" KeyPath="yes" />
      </Component>
      <Component Id="bfheroes.dll">
        <File Source="$(var.SourceDir)\release\plugins\bfheroes.dll" KeyPath="yes" />
      </Component>
      <Component Id="blacklight.dll">
        <File Source="$(var.SourceDir)\release\plugins\blacklight.dll" KeyPath="yes" />
      </Component>
      <Component Id="borderlands.dll">
        <File Source="$(var.SourceDir)\release\plugins\borderlands.dll" KeyPath="yes" />
      </Component>
      <Component Id="breach.dll">
        <File Source="$(var.SourceDir)\release\plugins\breach.dll" KeyPath="yes" />
      </Component>
      <Component Id="cod2.dll">
        <File Source="$(var.SourceDir)\release\plugins\cod2.dll" KeyPath="yes" />
      </Component>
      <Component Id="cod4.dll">
        <File Source="$(var.SourceDir)\release\plugins\cod4.dll" KeyPath="yes" />
      </Component>
      <Component Id="cod5.dll">
        <File Source="$(var.SourceDir)\release\plugins\cod5.dll" KeyPath="yes" />
      </Component>
      <Component Id="codmw2.dll">
        <File Source="$(var.SourceDir)\release\plugins\codmw2.dll" KeyPath="yes" />
      </Component>
      <Component Id="codmw2so.dll">
        <File Source="$(var.SourceDir)\release\plugins\codmw2so.dll" KeyPath="yes" />
      </Component>
      <Component Id="cs.dll">
        <File Source="$(var.SourceDir)\release\plugins\cs.dll" KeyPath="yes" />
      </Component>
      <Component Id="css.dll">
        <File Source="$(var.SourceDir)\release\plugins\css.dll" KeyPath="yes" />
      </Component>
      <Component Id="dods.dll">
        <File Source="$(var.SourceDir)\release\plugins\dods.dll" KeyPath="yes" />
      </Component>
      <Component Id="dys.dll">
        <File Source="$(var.SourceDir)\release\plugins\dys.dll" KeyPath="yes" />
      </Component>
      <Component Id="etqw.dll">
        <File Source="$(var.SourceDir)\release\plugins\etqw.dll" KeyPath="yes" />
      </Component>
      <Component Id="gmod.dll">
        <File Source="$(var.SourceDir)\release\plugins\gmod.dll" KeyPath="yes" />
      </Component>
      <Component Id="gtaiv.dll">
        <File Source="$(var.SourceDir)\release\plugins\gtaiv.dll" KeyPath="yes" />
      </Component>
      <Component Id="gw.dll">
        <File Source="$(var.SourceDir)\release\plugins\gw.dll" KeyPath="yes" />
      </Component>
      <Component Id="hl2dm.dll">
        <File Source="$(var.SourceDir)\release\plugins\hl2dm.dll" KeyPath="yes" />
      </Component>
      <Component Id="insurgency.dll">
        <File Source="$(var.SourceDir)\release\plugins\insurgency.dll" KeyPath="yes" />
      </Component>
      <Component Id="jc2.dll">
        <File Source="$(var.SourceDir)\release\plugins\jc2.dll" KeyPath="yes" />
      </Component>
      <Component Id="l4d.dll">
        <File Source="$(var.SourceDir)\release\plugins\l4d.dll" KeyPath="yes" />
      </Component>
      <Component Id="l4d2.dll">
        <File Source="$(var.SourceDir)\release\plugins\l4d2.dll" KeyPath="yes" />
      </Component>
      <Component Id="link.dll">
        <File Source="$(var.SourceDir)\release\plugins\link.dll" KeyPath="yes" />
      </Component>
      <Component Id="lol.dll">
        <File Source="$(var.SourceDir)\release\plugins\lol.dll" KeyPath="yes" />
      </Component>
      <Component Id="lotro.dll">
        <File Source="$(var.SourceDir)\release\plugins\lotro.dll" KeyPath="yes" />
      </Component>
      <Component Id="manual.dll">
        <File Source="$(var.SourceDir)\release\plugins\manual.dll" KeyPath="yes" />
      </Component>
      <Component Id="sto.dll">
        <File Source="$(var.SourceDir)\release\plugins\sto.dll" KeyPath="yes" />
      </Component>
      <Component Id="tf2.dll">
        <File Source="$(var.SourceDir)\release\plugins\tf2.dll" KeyPath="yes" />
      </Component>
      <Component Id="ut99.dll">
        <File Source="$(var.SourceDir)\release\plugins\ut99.dll" KeyPath="yes" />
      </Component>
      <Component Id="ut2004.dll">
        <File Source="$(var.SourceDir)\release\plugins\ut2004.dll" KeyPath="yes" />
      </Component>
      <Component Id="ut3.dll">
        <File Source="$(var.SourceDir)\release\plugins\ut3.dll" KeyPath="yes" />
      </Component>
      <Component Id="wolfet.dll">
        <File Source="$(var.SourceDir)\release\plugins\wolfet.dll" KeyPath="yes" />
      </Component>
      <Component Id="wow.dll">
        <File Source="$(var.SourceDir)\release\plugins\wow.dll" KeyPath="yes" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Plugins">
      <ComponentRef Id="aoc.dll" />
      <ComponentRef Id="arma2.dll" />
      <ComponentRef Id="bf1942.dll" />
      <ComponentRef Id="bf2.dll" />
      <ComponentRef Id="bf2142.dll" />
      <ComponentRef Id="bf3.dll" />
      <ComponentRef Id="bfbc2.dll" />
      <ComponentRef Id="bfheroes.dll" />
      <ComponentRef Id="borderlands.dll" />
      <ComponentRef Id="blacklight.dll" />
      <ComponentRef Id="breach.dll" />
      <ComponentRef Id="cod2.dll" />
      <ComponentRef Id="cod4.dll" />
      <ComponentRef Id="cod5.dll" />
      <ComponentRef Id="codmw2.dll" />
      <ComponentRef Id="codmw2so.dll" />
      <ComponentRef Id="cs.dll" />
      <ComponentRef Id="css.dll" />
      <ComponentRef Id="dods.dll" />
      <ComponentRef Id="dys.dll" />
      <ComponentRef Id="etqw.dll" />
      <ComponentRef Id="gmod.dll" />
      <ComponentRef Id="gtaiv.dll" />
      <ComponentRef Id="gw.dll" />
      <ComponentRef Id="hl2dm.dll" />
      <ComponentRef Id="insurgency.dll" />
      <ComponentRef Id="jc2.dll" />
      <ComponentRef Id="l4d.dll" />
      <ComponentRef Id="l4d2.dll" />
      <ComponentRef Id="link.dll" />
      <ComponentRef Id="lol.dll" />
      <ComponentRef Id="lotro.dll" />
      <ComponentRef Id="manual.dll" />
      <ComponentRef Id="sto.dll" />
      <ComponentRef Id="tf2.dll" />
      <ComponentRef Id="ut99.dll" />
      <ComponentRef Id="ut2004.dll" />
      <ComponentRef Id="ut3.dll" />
      <ComponentRef Id="wolfet.dll" />
      <ComponentRef Id="wow.dll" />
    </ComponentGroup>
  </Fragment>
</Wix>